@model Domain.Entities.Project

@{
    ViewBag.Title = "Детальная информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Детальная информация</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descr)
            </dd>
            <dt>
                Число ip - камер
            </dt>
            <dd>
                @Model.IpCams.Count()
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.ProjectID }) |
        @Html.ActionLink("К списку проeктов", "Index")
    </p>
</div>